.tab-content {
    position: fixed;
    top: 142px;
    bottom: 30px;
    right: 0px;
    left: 250px;
}

#incomeTab {
    height: 100%;
    overflow: auto;
}

#outcomeTab {
    height: 100%;
    overflow: auto;
}

.selectionIntervall {
    margin: 20px;
}

.chart-container {
    height: 300px;
}

