#nav {
	position:fixed;
	top:0px;
	left:0px;
	bottom:30px;
	background-color:grey;
	width:250px;
	height:100%;
	padding-bottom:50px;
}

#nav a {
	display:block;
	border:solid 1px white;
	text-decoration:none;
	color:white;
}

#nav a:hover {
	background-color:white;
	color:black;
}

#nav img {
	margin:25px;
	width:200px;
}

.section1 {
	padding:20px;
}

.section2 {
	padding:10px;
	padding-left:40px;
}

#header {
	position:fixed;
	top:0px;
	right:0px;
	left:250px;
	/* background-color:green; */
	height:100px;
}

#header h1 {
	text-align:center;
	font-size:50px;
}

#content {
	position:fixed;
	top:100px;
	left:250px;
	right:0px;
	bottom:30px;
}

#footer {
	position:fixed;
	bottom:0px;
	left:0px;
	right:0px;
	background-color:black;
	width:100%;
	height:30px;
	padding:5px;
}

#footer p {
	color:white;
	text-align:right;	
	font-size:20px;
}

/*
    ============
    media querys
    ============
*/

@media screen and (max-width: 600px) {
    #nav {
        display: none;
    }
    #content {
        left: 0;
        overflow: auto;
    }
    #header {
        left: 0;        
    }
}